body {
  padding: 0;
  margin: 0;
}

.signupform {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  align-items: center;
}

.signup {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 350px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
  padding: 1.5rem;
}

.title {
  font-size: 25px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(.signup-.buttons);
  padding-top: 20px;
}

.switchProfile {
  color: blue;
  cursor: pointer;
}

.label {
  display: block;
  padding-bottom: 6px;
  font-size: 1rem;
  font-family: "Montserrat, sans-serif;";
}

.input {
  margin-bottom: 18px;
  border-width: 0;
  border-bottom-width: 1px;
  width: 100%;
  font-size: 1rem;
  font-family: "Montserrat, sans-serif;";
}

.input:focus {
  outline: none;
}

.navbar {
  background-color: blue;
  padding: 0.5rem 1.5rem;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0;
}

.logout {
  color: rgb(2, 2, 255);
  font-size: 300;
  opacity: 0.8;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.logout:hover {
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
}

.cards-row {
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
}

.card-design {
  height: 200px;
  width: 550px;
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
}

.dollar {
  color: grey;
}

.button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-radius: 7px;
  border: 0;
}

.card-design-table {
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
  margin: 30px;
}

.search-bar {
  width: 40%;
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
  margin-left: 30px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 3px;
  border: 0;
}

.bottom-section {
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  max-height: 300px;
}

.fiter {
  width: 20%;
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
  padding: 10px;
  margin-left: 30px;
  border-radius: 3px;
  border: 0;
  background-color: white;
}
.radio-sorting {
  width: 30%;
  box-shadow: 0px 0px 10px 8px rgba(227, 227, 227, 0.75);
  border-radius: 8px;
  margin-left: 30px;
}
.ant-radio-button-wrapper {
  border: none !important;
}
.filter-section {
  display: flex;
}

.csv-buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.single-button {
  padding: 5px;
  width: 6%;
  cursor: pointer;
  border-radius: 7px;
  border: 0;
  text-align: center;
  color: white;
  background-color: blue;
}

.statistics {
  width: 60%;
  padding: 20px;
}

.pieChart {
  width: 37%;
}

.charts {
  display: flex;
  padding: 30px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
